
html {
	scroll-behavior: smooth;
	background-color: #eeeeee;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: #393e46;
}

nav a:hover {
	font-weight: bold;
	font-size: 19px;
	color: black;
}

.icon {
	max-width: 10%;
}

body {
	font-family: gill-sans;
}

.poem {
	font-family: gill-sans;
}

footer {
	padding: 8px;
	color: white;
	background-color: #393e46;
	text-align: center;
	font-weight: bold;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.jumbotron {
	font-size: 20px;
	padding: 55px;
	background-color: #141414;
	text-align: center;
	color: #eeeeee;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 10px;
}
nav {
	background-color: #B0B0B0;
	opacity: 100%;
	padding: 5px;
	position: sticky;
	top: 0;
	text-align: center;
}

main {
	padding: 20px;
	overflow: auto;
}

#content {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 30%;
	padding: 10px;
}

* {
	box-sizing: border-box;
}

@media (max-width: 670px ) {
	#content,
	aside {
		width: 100%;
		padding: 0;
	}
	nav li {
		text-align: left;
		font-size: 5px;
	}
	main {
		width: 100%;
	}
}

header {
	display: inline;
}

